/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.miniature .btn{
  background-color: transparent;
  border-color: transparent;
  padding: 0px;
  border: none;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.check
{
    opacity:0.5;
  color:#996;
  cursor: pointer;
  border: 1px solid #000;
	
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}



/* Estilos para el submenu de cada seccion
 */
 .material-tabs {

  padding-top: 15px;

}
@media all and (max-width: 480px) {
  .material-tabs {
    max-width: 100%;
    left: 0;
  }
}

.visible {
 
  -webkit-transition: opacity .35s ease;
  transition: opacity .35s ease;
  z-index: 3;
}

.hidden {
 display: none;
  -webkit-transition: opacity 0s ease;
  transition: opacity 0s ease;
}
.hidden img {
  display: none;
}

[class*="tabbed-section-"] {
  float: left;
  color: #000;
}
[class*="tabbed-section-"] img {
  display: block;

}

.tabbed-section__selector {
  margin-bottom: 15px;
  width: 100%;
  float: left;
}
.tabbed-section__selector [class*="-tab-"] {
  float: left;
  display: block;

  text-align: center;
  background: #fff;
  font-weight: normaal;
  text-decoration: none;
  color: #495057;
  font-size: 14px;
}
.tabbed-section__selector [class*="-tab-"].active {
  color: #007bff;
}
.tabbed-section__selector a:first-child {
  border-top-left-radius: 2px;
}
.tabbed-section__selector a:last-of-type {
  border-top-right-radius: 2px;
}


.tabbed-section__selector-tab-5.active ~ .tabbed-section__highlighter {
  -webkit-transform: translateX(400px);
          transform: translateX(400px);
}
.tabbed-section__selector-tab-4.active ~ .tabbed-section__highlighter {
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
}
.tabbed-section__selector-tab-3.active ~ .tabbed-section__highlighter {
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

.tabbed-section__selector-tab-2.active ~ .tabbed-section__highlighter {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.tabbed-section__selector-tab-1.active ~ .tabbed-section__highlighter {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.divider {
  background: rgba(0, 0, 0, 0.1);
  position: relative;
  display: block;
  float: left;
  width: 100%;
  height: 1px;
  margin: 8px 0;
  padding: 0;
  overflow: hidden;
}

/* Estilos avatar svg */
#svg_master {
  max-height: calc(100vh - 120px)
}

.herramientas {
  visibility: hidden;
  display: inline
}

.trash {
  float: right;
  color: #AF0000;
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 10px;
}

.edit_color {
  float: right;
  color: #333;
  cursor: pointer;
  font-size: 1.5rem;
  margin-left: 10px;
}

.bar_right {
  width: 100%;
  height: 100vh;
  right: 0px;
  overflow-y: auto;
}

#colorSelector {
  max-width: 200px;
  display: inline
}

.card-header a {
  color: #333;
  text-decoration: none;
}

@media screen and (min-width:573px) {
  .bar_right {
  position: fixed;
  }
}

.stretch {
  padding: .55rem 1.25rem;
}
.svg-icon {
  width: 50px;
  height: 50px;
  transform: scale(2.5);
  border: none;
  background: transparent;
}